.app{
    display: grid;
    justify-content: center;
} 

.content{
    display: grid;
    width: auto;
    min-width: 500px;
    min-height: 560px;
    max-height: 700px;
    overflow: auto;
    height: auto;
    grid-template-rows: 17px auto;
    grid-template-areas: 
        "close-btn"
        "content";
    
    background: white;
}

.content-body{
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    grid-area: content;    
}

.container{
    display: grid;
    grid-template-areas: 
    "menu"
    "list";
    grid-template-rows: min-content;
    row-gap: 5px;
}

.list-container{
    grid-area: list;
}

.menu-container{
    grid-area: menu;
}

.header{
    justify-self: end;    
    grid-area: close-btn;
}

.header__close-btn{
    border: none;
    background: transparent;
}